
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@300;700&display=swap');

$blue-azurre : #0290ff;
$color-black : #121212;
$blue : #4389bf;
$montserrat :'Montserrat';
$roboto :'Roboto';
