@import './common.scss';

.navbar {
  height: 5.938rem;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;

.navbar-title {
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $blue-azurre;
  font-family: $roboto , sans-serif;
  font-weight: 700;
}
  .navbar-links {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 0 0 40px;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    font-family: $monserrat , sans-serif;
    font-weight: lighter;
    .navbar-item {
      list-style: none;
    .navbar-link {
      color: $color-black;
      text-decoration: none;
    }
    .categ {
      color: rgba(0, 0, 0, 0.497);
    }
    }

  }
 .icon-container {
  border: 0.5px solid rgba(60, 60, 60, 0.667);
  border-radius: 20px ;
 .mask-icon {
  align-self: flex-end;
  color: $blue-azurre;
  margin-left: 200px;

}
 }
}